---
import type { WithContext, Thing } from 'schema-dts';
import './reset.css';
import './variables.css';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import { waitlistUrl } from '../waitlist';
import { Schema } from 'astro-seo-schema';

type MetaProps = {
  /**
   * The title of the page. The ideal length is approximately 60 characters.
   * When exceeding this limit, search engines will truncate the title.
   *
   * @default Sokkel
   */
  title?: string;

  /**
   * The description of the page. The ideal length is between 70 and 155 characters.
   * The minimum length is 70 characters. When exceeding this limit, search engines will
   * truncate the description.
   *
   * @default Default description
   */
  description?: string;

  /**
   * The headline on the page. The ideal length is approximately 47 characters.
   *
   * @default title
   */
  headline?: string;

  /**
   * The heading on the page next to headline. Should be longer than headline.
   *
   * @default title
   */
  heading?: string;

  socialMedia?: {
    /**
     * The title for social media platforms. The ideal length is approximately 47 characters.
     * When exceeding this limit, platforms will truncate the title. LinkedIn will truncate
     * the title at 119 characters.
     *
     * @default Uses the title prop
     */
    title?: string;

    /**
     * The description for social media platforms. Should not exceed 85 characters to fit most platforms.
     *
     * @default Uses the description prop
     */
    description?: string;
  };

  /**
   * Images for social media platforms. The ideal size is 1200 x 630 pixels.
   * When providing more than one image, the first image will be used, but some
   * platforms will allow the user to choose which image to use.
   *
   * @default ['/images/social-media-image.png']
   */
  images?: string[];

  /**
   * The type of the page.
   *
   * @default website
   */
  type?: 'website' | 'article';

  /**
   * The path of the page. Used to generate the canonical URL.
   */
  path: '/' | '/about-us' | '/terms' | '/404';

  /**
   * The date the page was published. Only used with type = 'article'.
   */
  articlePublishDate?: Date;

  /**
   * The date the page was last modified. Only used with type = 'article'.
   */
  articleAuthor?: string;

  /**
   * Set to false for pages that shouldn't have a contact form at the bottom.
   */
  contactFooter?: boolean;

  /**
   * JSON-LD structured data for the page.
   */
  schema?: WithContext<Thing>[];
};

type HeaderProps =
  | { show: false }
  | {
      show: true;
      links: {
        icon?: 'arrow' | 'close'; // Defaults to arrow.
        href: '/' | '/about-us' | typeof waitlistUrl;
        text: string;
        wideOnly?: boolean;
      }[];
    };

type FooterProps = { show: boolean };

type Preload = {
  href: string;
  as: 'image';
};

export type Props = {
  meta: MetaProps;
  header: HeaderProps;
  footer: FooterProps;
  preloads?: Preload[];
};

function makeUrl(newPath: string): string {
  return new URL(newPath, Astro.site).toString();
}

const { meta, header, footer, preloads } = Astro.props;

const {
  title = 'Sokkel',
  description = `
Sokkel is the foundation and building blocks for managing your applications, smooooothly.
`,
  images = [makeUrl('/assets/sharing.png')],
  schema: schemas,
} = meta;

const socialMedia = {
  title: meta.socialMedia?.title ?? title,
  description: meta.socialMedia?.description ?? description,
};

const [image] = images;
const canonicalUrl = makeUrl(meta.path);

const googleFontsStylesheetHref =
  'https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Rubik+Beastly&family=Rubik+Broken+Fax&family=Rubik+Burned&family=Rubik+Maze&family=Rubik+Puddles&display=swap';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title set:text={title} />
    <meta property="og:site_name" content="Sokkel" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.svg" />

    {schemas?.map((schema) => <Schema item={schema} />)}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <!-- Preload the Google Fonts stylesheet to prevent jumping on the first page load. -->
    <!-- (Note that we must also preload the individual fonts that should block the first render.) -->
    <!-- See https://dev.to/pilcrowonpaper/preloading-google-fonts-37h1 for more info. -->
    <link
      rel="preload"
      href={googleFontsStylesheetHref}
      as="style"
      crossorigin
    />
    <!-- Preload the Geist Latin font, which is used for everything that is visible on the first page load. -->
    <!-- (Its URL is defined inside the Google Fonts stylesheet.) -->
    <link
      rel="preload"
      href="https://fonts.gstatic.com/s/geist/v4/gyByhwUxId8gMEwSGFWNOITddY4.woff2"
      as="font"
      crossorigin="anonymous"
      type="font/woff2"
    />

    {
      preloads?.map((preload) => (
        <link rel="preload" href={preload.href} as={preload.as} />
      ))
    }

    <meta name="viewport" content="width=device-width" />
    <link type="text/plain" rel="author" href={makeUrl('/humans.txt')} />

    <meta name="robots" content="index,follow" />
    <meta name="description" content={description} />
    {canonicalUrl && <link rel="canonical" href={canonicalUrl} />}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={socialMedia.title} />
    <meta name="twitter:description" content={socialMedia.description} />
    <meta name="twitter:image" content={image} />

    <meta property="og:url" content={canonicalUrl} />
    <meta property="og:type" content={meta.type} />
    <meta property="og:title" content={socialMedia.title} />
    <meta property="og:description" content={socialMedia.description} />
    {images.map((img) => <meta property="og:image" content={img} />)}

    <link rel="stylesheet" href={googleFontsStylesheetHref} crossorigin />
  </head>
  <body>
    {header.show && <Header links={header.links} />}

    <slot />

    {footer.show && <Footer path={meta.path} />}
  </body>
</html>

<style>
  body {
    max-width: 110rem; /* This is the width of the problem cards + a little bit. */
    row-gap: calc(var(--spacing) * 30);
    margin: 0 auto;
    padding-block: calc(var(--spacing) * 6);
    @media (min-width: 40rem) {
      gap: calc(var(--spacing) * 20);
      padding-block: calc(var(--spacing) * 10);
    }

    font-family:
      'Geist',
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;

    background-color: var(--color-base-background);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
</style>

<style is:global>
  img {
    user-select: none;
    user-focus: none;
  }

  .card {
    border-radius: var(--radius-2xl);
    padding: calc(var(--spacing) * 6);
  }
</style>

<script
  is:inline
  data-goatcounter="https://sokkel.goatcounter.com/count"
  async
  src="https://gc.zgo.at/count.js"></script>
